@import "tailwindcss";
@import "@turbo-with-tailwind-v4/design-system/theme.css";

@layer components {
  .backgroundGradient {
    /* Gradient created with https://colorfinder.app/css-tools/gradient-creator */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 94, 1) 3%,
      rgba(68, 17, 254, 1) 92%
    );
  }
}
